.chbe-admin-welcome-guide-modal {
	max-width: 350px;

	h1 {
		padding: 0 $grid-unit-40;
		margin: 0 0 $grid-unit-20 0;
		font-size: 24px;
		line-height: 1.4;
	}

	p {
		padding: 0 $grid-unit-40;
		margin: 0 0 $grid-unit-30 0;
		font-size: 13px;
		line-height: 1.4;
	}

	.components-guide__footer {
		box-sizing: border-box;
	}
}
