.chbe-admin-editor-config-modes {
	display: block;
	text-align: center;

	.components-button {
		justify-content: center;
		width: 50%;
		max-width: 150px;

		&.is-secondary {
			background: #fff;
		}
	}
}
