.chbe-admin-editor-config-filter {
	display: flex;
	gap: $grid-unit-20;

	.chbe-admin-editor-config-filter__mode {
		display: flex;
		flex: 1;

		.components-button {
			flex: 1;
			justify-content: center;

			&.is-secondary {
				background: $white;
			}
		}
	}

	.chbe-admin-editor-config-filter__search {
		flex: 1;

		.components-input-control__container {
			background: $white;
		}

		// Fallback for WP6.4 and below
		input[type="search"].components-search-control__input {
			height: 40px;
			background: $white;
		}
	}
}
