.wp-block-html,
.wp-block[data-type="core/html"] {

	.components-resizable-box__container {
		padding-bottom: 24px;

		> section {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}

	&.is-selected .components-resizable-box__container {
		background-color: rgba(0, 0, 0, 0.1);
	}

	.monaco-editor .inputarea {
		padding: 0;
		color: transparent;
		box-shadow: none;
	}
}
