// Block
.wp-block-html,
.wp-block[data-type="core/html"] {

	.components-resizable-box__container {
		padding-bottom: 24px;
		overflow: initial;

		> section {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}

	.components-notice {
		padding: 4px 8px;
		margin: 0 0 4px;

		.components-button {
			min-width: 24px;
			height: 24px;
			padding: 0;

			svg {
				width: 20px;
			}
		}
	}

	.components-notice__content {
		margin: 0;
	}

	&.is-selected .components-resizable-box__container {
		background-color: rgba(0, 0, 0, 0.1);
	}

	.monaco-editor-wrapper {
		height: 100%;
	}

	.monaco-editor {

		.find-widget {

			.button {
				color: inherit;
				background: none;
				border: none;

				&:focus {
					box-shadow: none;
				}

				&.disabled {
					color: inherit !important;
					background: none !important;
				}
			}

			textarea:focus {
				box-shadow: none;
			}
		}

		.inputarea {
			padding: 0;
			color: inherit;
			box-shadow: none;
		}

		.monaco-icon-label-container > .monaco-icon-name-container > .label-name {
			text-decoration: none;
		}

		.monaco-highlighted-label .highlight {
			display: inline;
			padding: 0;
			margin: 0;
			background: transparent;
		}
	}
}

// Change indentation popover
.chbe-popover {
	display: flex;
	flex-flow: column;
	gap: 16px;
	align-items: center;
	white-space: nowrap;

	.components-popover__content {
		padding: 16px;
	}

	.components-base-control label {
		display: block;
	}

	.components-text-control__input {
		min-height: 24px;
		padding: 3px 8px;
		font-size: 12px;
	}
}

.chbe-popover__ttl {
	margin: 0;
	font-size: 1.2em;
	text-align: center;
}

.chbe-popover__subttl {
	padding: 4px 8px;
	margin: 0 -8px 0.5em;
	font-size: 1em;
	color: #fff;
	text-align: center;
	background: var(--wp-admin-theme-color);
}

.chbe-popover__row {
	display: flex;
	gap: 8px;
}

.chbe-popover__col--setting {
	padding: 0 8px 4px;
	border: 1px solid var(--wp-admin-theme-color);
}


.chbe-popover__col--arrow {
	align-self: center;

	svg {
		display: block;
	}
}

.chbe-popover__buttons {
	display: flex;
	gap: 16px;
}

// Modal HTML Editor
.chbe-modal-editor {
	width: 90vw;
	min-height: 90vh;

	.monaco-editor-wrapper {
		height: 100%;
	}

	.monaco-editor {

		.find-widget {

			.button {
				color: inherit;
				background: none;
				border: none;

				&:focus {
					box-shadow: none;
				}

				&.disabled {
					color: inherit !important;
					background: none !important;
				}
			}

			textarea:focus {
				box-shadow: none;
			}
		}

		.inputarea {
			padding: 0;
			color: inherit;
			box-shadow: none;
		}

		.monaco-icon-label-container > .monaco-icon-name-container > .label-name {
			text-decoration: none;
		}

		.monaco-highlighted-label .highlight {
			display: inline;
			padding: 0;
			margin: 0;
			background: transparent;
		}
	}
}
