// WordPress base styles
@use "~@wordpress/base-styles/variables" as variables;
@use "~@wordpress/base-styles/colors" as colors;

// Monaco Editor styles
@use "../components/monaco-editor/style";

// Tab Editor
.chbe-tab-editor {
	height: 100%;
}

.chbe-tab-editor__tab-panel {
	height: 100%;

	.components-tab-panel__tab-content {
		padding-top: variables.$grid-unit-10;
		height: calc(100% - #{variables.$grid-unit-60});
	}
}

.chbe-tab-editor__tab-content {
	display: none;
	height: 100%;

	&.is-active {
		display: block;
	}
}

// Change indentation popover
.chbe-popover {

	.components-popover__content {
		padding: variables.$grid-unit-20;
	}

	.chbe-popover__subtitle {
		padding: variables.$grid-unit-05 variables.$grid-unit-10;
		margin: 0 (variables.$grid-unit-20 * -1);
		color: colors.$white;
		text-align: center;
		background: var(--wp-admin-theme-color);
	}

	.chbe-popover__col {
		padding: 0 variables.$grid-unit-20 variables.$grid-unit-20;
		border: variables.$border-width solid var(--wp-admin-theme-color);
	}
}


// Modal HTML Editor
.chbe-fullscreen-editor {

	.components-modal__content {
		display: flex;
		flex-flow: column;
	}

	.components-modal__header + div {
		flex: 1;
	}
}
