// WordPress base styles
@use "~@wordpress/base-styles/variables" as variables;
@use "~@wordpress/base-styles/colors" as colors;

// Monaco Editor styles
@use "../components/monaco-editor/style";

// Modal HTML Editor
.chbe-fullscreen-editor {

	.components-modal__content {
		display: flex;
		flex-flow: column;
	}

	.components-modal__header + div {
		flex: 1;
	}
}
