@font-face {
	font-weight: 300;
	font-family: "Anonymous Pro Italic";
	font-style: normal;
	font-stretch: normal;
	src: url(../../fonts/AnonymousPro-lt.woff2) format("woff2");
}

@font-face {
	font-weight: 700;
	font-family: "Anonymous Pro Italic";
	font-style: normal;
	font-stretch: normal;
	src: url(../../fonts/AnonymousPro-Boldlt.woff2) format("woff2");
}

