@font-face {
	font-weight: 200;
	font-family: "Source Code Pro";
	font-style: normal;
	font-stretch: normal;
	src: url(../../fonts/SourceCodePro-ExtraLight.woff2) format("woff2");
}

@font-face {
	font-weight: 300;
	font-family: "Source Code Pro";
	font-style: normal;
	font-stretch: normal;
	src: url(../../fonts/SourceCodePro-Light.woff2) format("woff2");
}

@font-face {
	font-weight: 400;
	font-family: "Source Code Pro";
	font-style: normal;
	font-stretch: normal;
	src: url(../../fonts/SourceCodePro-Regular.woff2) format("woff2");
}

@font-face {
	font-weight: 500;
	font-family: "Source Code Pro";
	font-style: normal;
	font-stretch: normal;
	src: url(../../fonts/SourceCodePro-Medium.woff2) format("woff2");
}

@font-face {
	font-weight: 600;
	font-family: "Source Code Pro";
	font-style: normal;
	font-stretch: normal;
	src: url(../../fonts/SourceCodePro-Semibold.woff2) format("woff2");
}

@font-face {
	font-weight: 700;
	font-family: "Source Code Pro";
	font-style: normal;
	font-stretch: normal;
	src: url(../../fonts/SourceCodePro-Bold.woff2) format("woff2");
}

@font-face {
	font-weight: 900;
	font-family: "Source Code Pro";
	font-style: normal;
	font-stretch: normal;
	src: url(../../fonts/SourceCodePro-Black.woff2) format("woff2");
}
