@font-face {
	font-weight: 300;
	font-family: "Fira Code";
	font-style: normal;
	src: url(../fonts/FiraCode-Light.woff2) format("woff2");
}

@font-face {
	font-weight: 400;
	font-family: "Fira Code";
	font-style: normal;
	src: url(../fonts/FiraCode-Regular.woff2) format("woff2");
}

@font-face {
	font-weight: 500;
	font-family: "Fira Code";
	font-style: normal;
	src: url(../fonts/FiraCode-Medium.woff2) format("woff2");
}

@font-face {
	font-weight: 600;
	font-family: "Fira Code";
	font-style: normal;
	src: url(../fonts/FiraCode-SemiBold.woff2) format("woff2");
}

@font-face {
	font-weight: 700;
	font-family: "Fira Code";
	font-style: normal;
	src: url(../fonts/FiraCode-Bold.woff2) format("woff2");
}
