@font-face {
	font-weight: 200;
	font-family: "Source Code Pro Italic";
	font-style: normal;
	font-stretch: normal;
	src: url(../fonts/SourceCodePro-ExtraLightIt.woff2) format("woff2");
}

@font-face {
	font-weight: 300;
	font-family: "Source Code Pro Italic";
	font-style: normal;
	font-stretch: normal;
	src: url(../fonts/SourceCodePro-LightIt.woff2) format("woff2");
}

@font-face {
	font-weight: 400;
	font-family: "Source Code Pro Italic";
	font-style: normal;
	font-stretch: normal;
	src: url(../fonts/SourceCodePro-It.woff2) format("woff2");
}

@font-face {
	font-weight: 500;
	font-family: "Source Code Pro Italic";
	font-style: normal;
	font-stretch: normal;
	src: url(../fonts/SourceCodePro-MediumIt.woff2) format("woff2");
}

@font-face {
	font-weight: 600;
	font-family: "Source Code Pro Italic";
	font-style: normal;
	font-stretch: normal;
	src: url(../fonts/SourceCodePro-SemiboldIt.woff2) format("woff2");
}

@font-face {
	font-weight: 700;
	font-family: "Source Code Pro Italic";
	font-style: normal;
	font-stretch: normal;
	src: url(../fonts/SourceCodePro-BoldIt.woff2) format("woff2");
}

@font-face {
	font-weight: 900;
	font-family: "Source Code Pro Italic";
	font-style: normal;
	font-stretch: normal;
	src: url(../fonts/SourceCodePro-BlackIt.woff2) format("woff2");
}
