@font-face {
	font-family: "Ubuntu Mono";
	font-style: normal;
	font-weight: 300;
	font-stretch: normal;
	src: url(../fonts/UbuntuMono-Regular.woff2) format("woff2");
}

@font-face {
	font-family: "Ubuntu Mono";
	font-style: normal;
	font-weight: 700;
	font-stretch: normal;
	src: url(../fonts/UbuntuMono-Bold.woff2) format("woff2");
}

