@use "../../wp-base-styles.scss" as wpBaseStyles;

@use "./components/editor-preview/style" as editorPreview;
@use "./components/item-help/style" as itemHelp;
@use "./components/filter/style" as filter;

.chbe-admin-editor-config {

	.components-select-control {
		min-width: 200px;
	}

	.components-range-control {
		width: 100%;
		max-width: 300px;
	}

	.components-toggle-control {
		max-width: 300px;
	}

	.chbe-admin-editor-config__settings {
		flex: 1;
	}

	.chbe-admin-editor-config__basic-settings {
		padding: wpBaseStyles.$grid-unit-30;
		background: wpBaseStyles.$white;
		border-top: wpBaseStyles.$border-width solid wpBaseStyles.$gray-300;
		border-bottom: wpBaseStyles.$border-width solid wpBaseStyles.$gray-300;
	}

	.chbe-admin-editor-config__preview {
		position: sticky;
		top: wpBaseStyles.$grid-unit-50;
		width: 50%;

		@media screen and (max-width: 782px) {
			position: static;
			width: 100%;
		}
	}
}
