@use "~@wordpress/base-styles/variables" as variables;

.chbe-admin-snackbars {
	right: 0;
	bottom: variables.$grid-unit-20;
	padding: 0 variables.$grid-unit-20;
	position: fixed;

	.components-snackbar-list__notice-container {
		display: flex;
		justify-content: flex-end;
	}
}
