@use "../../../wp-base-styles.scss" as wpBaseStyles;

.chbe-admin-snackbars {
	right: 0;
	bottom: wpBaseStyles.$grid-unit-20;
	padding: 0 wpBaseStyles.$grid-unit-20;
	position: fixed;

	.components-snackbar-list__notice-container {
		display: flex;
		justify-content: flex-end;
	}
}
